
.color-naranja {
    color: #975100;
}

.color-azul {
    color: #335fbb;
}

.color-amarillo {
    color: #bd701f;
}

.fondo-naranja {
    background-color: #975100;
}

.fondo-azul {
    background-color: #335fbb;
}

.fondo-amarillo {
    background-color: #bd701f;
}

.borde-naranja:focus {
    border-color: #975100;
    box-shadow: 0 0 0 0.25rem #975100;

}